
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Kullanıcı Si steme Login Olmuş Mu-->
@if (User.Identity.IsAuthenticated)
{
    <span>@User.Identity.Name</span>
    <a asp-action="LogOut" asp-controller="Account" class="btn btn-danger">Log Out</a>
}
else
{
    <a asp-action="Login" asp-controller="Account" class="btn btn-success">Log In</a>
    <a asp-action="Create" asp-controller="Admin">Sign In</a>
}

